body {
	background: #ffd89b;
	color: #360;
	font-family: Arial, Helvetical, sans-serif;
	font-size: 13px;
	margin: 0;
	text-align: center;
}

h1 {
	color: #4d2a0c;
	font-size: 16px;
}

#game_wrapper {
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
}

.txt_center {
	clear: both;
}

.button {
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	border-radius: 5px;
	border: 1px solid #ccc;
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 51%, rgba(209,209,209,1) 52%, rgba(226,226,226,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(219,219,219,1) 51%,rgba(209,209,209,1) 52%,rgba(226,226,226,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(219,219,219,1) 51%,rgba(209,209,209,1) 52%,rgba(226,226,226,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-sizing: border-box;
	float: left;
	margin: 0 1%;
	padding: 10px;
	text-align: center;
	width: 31%;
    
}

.button:active {
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 51%, rgba(209,209,209,1) 52%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 51%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 51%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.button img {
	height: auto;
	width: 32px;
}

#result {
	background: #19547b;
	border-radius: 5px;
	color: #000;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

#computer_zone,
#player_zone {
	text-align: center;
}

#computer_choice,
#player_choice {
	border: 2px dashed #360;
	height: 80px;
	margin: 10px auto;
	padding: 5px;
	width: 80px;
}

#computer_choice img,
#player_choice img {
	height: auto;
	width: 68px;
}

#computer_choice img {
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#score_display {
	color: #4d2a0c;
	font-weight: bold;
	padding: 10px 0;
}

.sns a {
    background: url(http://onlywebpro.com/demo/farmer_vs_groundhog/img/btn_sns.png)left top no-repeat;
    display: inline-block;
    margin: 5px;
    height: 44px;
    width: 44px;
}

#btn_twitter {
    background-position: -45px top;
}


